* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(255, 47, 47);
}

body {
    background: url(../MINIPROJECT2/home.jpg)no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    height: 500px;
} 

:root {
    --navbar-height: 60px;
}

#logo img {
    margin: 15px 20px;
    height: 70px;
}

#navbar {
    display: flex;
    position: relative;
    align-items: center;
    top: 0px;
}

#navbar ul {
    display: flex;

}

#navbar::before {
    background-color: rgb(5, 246, 69);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

#navbar ul li {
    list-style: none;
    font-size: 1rem;
}

#navbar ul li a {
    display: black;
    color: rgb(5, 41, 245);
    padding: 4px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
}

#navbar ul li a:hover {
    display: blue;
    background-color: rgb(220, 224, 12);
}

#home {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    height: 500px;
    justify-content: center;
    align-items: center;
    color: black;
}

#home::before {
    content: "";
    background: url(../MINIPROJECT2/home2.jpg)no-repeat center center/cover;
    position: absolute;
    top: 0px;
    height: 500px;
    transform: matrix3d();
    width: 100%;
    z-index: -1;
    opacity: 0.6
}

#home h1 {
    color: rgb(14, 17, 14);
    text-align: center;
    font-size: 2.5rem;

}

#home p {
    color: rgb(14, 15, 14);
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    line-height: 40px;
}

#home button {
    background-color: rgb(5, 245, 45);
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#home button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#services img {
    display: block;
    height: 100px;
    width: 100px;
    margin: auto;
}

.center {
    text-align: center;
}

#services {
    margin: 30px;
    display: flex;
}

#services .box {
    border: 2px solid rgb(21, 0, 255);
    padding: 25px;
    margin: 2px 4px;
    border-radius: 10px;
    background-color: rgb(239, 241, 236);
    transition: all 0.9s ease-in-out;
    transition-duration: 1s;
}

#services .box:hover {
    transform: scale(0.9);
    background-color: rgb(84, 157, 185);
}

#services.box img {
    height: 150px;
    display: block;
    margin: auto;
}

#services.box p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#products-section{
    position:relative;
    margin-bottom: 35px;
}
#products-section::before{
    content:"";
    position: absolute;
    background: url("./download.jpg");
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}
#items{
    padding:14px;
}
#products{
    display:flex;
    justify-content: center;
    align-items: center;
}
#products-section h1{
    color:rgb(218, 242, 2);
    align-items: center;
    font-size: 2.5rem;
}
#contact::before{
    content:"";
    position: absolute;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background:url(./main.jpg) no-repeat center center/cover;
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding:0.5rem;
    margin-top: 10px;
    border-radius:20px;
    font-size:1.1rem;
}
#contact-box form{
    width:40%;
}
.cbtn{
    padding:14px 31px;
    border: 2px solid wheat;
    background-color: aquamarine;
    color: rgb(63, 42, 165);
    margin: 10px;
    width: 100%;
    font-size:1.0rem;
    border-radius: 20px;
    cursor:pointer;
}
.cbtn:hover{
    background-color: coral;
    color:cyan;
}
#footer{
    padding:10px;
    background-color: rgb(240, 243, 241);
    margin: 100px;
    display:flex;
    justify-content: center;
}
#products img{
    height: 150px;
    border-radius:25px;
    padding:15px;
    animation:guvi;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes guvi{
    0%{
        transform:rotate(360deg);
    }
}